@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Muli');

.container {
    padding: 20px 0px;
    
    .form-inline {
        justify-content: center;

        label, input, button {
            margin: 5px;
        }
    }

    .ui-accordion-header {
        text-align: left;
    }
}